@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, PT Sans, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-pastel-blue text-light-primary dark:bg-black dark:text-dark-primary
  }

  h1 {
    @apply text-[2em] mb-4;
  }
  
  h2 {
    @apply text-[1.5em] mb-4;
  }
  
  h3 {
    @apply text-[1.3em] mb-4;
  }
  
  h4 {
    @apply text-[1em] mb-3;
  }
  
  h5 {
    @apply text-[0.8em] mb-3;
  }
  
  h6 {
    @apply text-[0.7em] mb-3;
  }
  
  input {
    @apply rounded-md py-2 px-3 dark:bg-night-gray
  }

}

@layer components {
  .banner {
    @apply flex flex-col justify-center items-center h-[30vh] bg-gradient-to-tr from-pastel-gray to-pastel-blue dark:from-night-black dark:to-night-purple text-center
  }
  
  .card {
    @apply bg-pastel-cream dark:bg-night-purple rounded-lg shadow-xl m-3 py-4 px-6;
  }
  
  .btn {
    @apply py-1 px-2 bg-pastel-pink hover:bg-pastel-gray dark:bg-night-gray dark:hover:bg-night-light transition-all
  }
  
  .btn:active {
    transform: scale(0.9);
  }

  .link {
    @apply text-blue-900 dark:text-blue-300 hover:text-blue-500 dark:hover:text-blue-100
  }

  .side-link {
    @apply flex items-center gap-2 px-3 py-2 active:bg-pastel-gray dark:active:bg-night-light transition-all
  }
}
